extends layout

block content
    h1= title
    p #{text}

    canvas#sheet(width='320', height='320')
    script(src="/javascripts/canvasControl.js")

    br

    button(onclick="sendCanvas(getData(), '/testCharacter')") Submit
    button(onclick="resetCanvas()") Reset

    br

    #interpretation
