extends layout

block content
    h1= title
    p #{text}
    p
        -if(canStore)
            button#storingButton(onclick="getPage('/store', 'storingStatus')") Store the data
        -else
            button#storingButton(onclick="getPage('/store', 'storingStatus')", disabled='') Store the data
        span#storingStatus #{databaseStatus}
    p
        button(onclick="getPage('/train', 'trainingStatus')") Start Training
        span#trainingStatus
    p
        button(onclick="getPage('/storeNetwork', 'storeNetStatus')") Store the current network
        span#storeNetStatus
    p
        button(onclick="getPage('/loadNetwork', 'loadNetStatus')") Load a saved network
        span#loadNetStatus
    p
        button(onclick="getPage('/test', 'testingStatus')") Test the network
        span#testingStatus

    br

    p Once the training is over, use this canvas to test the ocr with your own handwriting
    canvas#sheet(width='320', height='320')
    script(src="/javascripts/canvasControl.js")

    br

    button(onclick="sendCanvas(getData(), '/testCharacter')") Submit
    button(onclick="resetCanvas()") Reset

    br
    br

    #interpretation
