extends layout

block content
    h1= title
    p #{text}

    hr(align="left")

    p
        -if(canStore)
            button#storingButton(onclick="getPage('/store', 'storingStatus')") Store digits data
        -else
            button#storingButton(onclick="getPage('/store', 'storingStatus')", disabled='') Store digits data
        span#storingStatus #{databaseStatus}
    p
        button(onclick="getPage('/train', 'trainingStatus')") Start Training
        span#trainingStatus

    hr(align="left")

    p
        button(onclick="getPage('/storeNetwork', 'storeNetStatus')") Store the current network
        span#storeNetStatus
    p
        button(onclick="getPage('/loadNetwork', 'loadNetStatus')") Load a stored network
        span#loadNetStatus

    hr(align="left")

    p
        button(onclick="getPage('/test', 'testingStatus')") Test the network
        span#testingStatus

    hr(align="left")

    p
        | Once the training is over, use this canvas to test the ocr with your own handwriting.
        br
        | Works better if you write in the center and from the very top of the canvas to the very bottom of it.
    canvas#sheet(width='320', height='320')
    script(src="/javascripts/canvasControl.js")

    br

    button(onclick="sendCanvas(getData(), '/testCharacter')") Submit the canvas
    button(onclick="resetCanvas()") Reset the canvas

    br
    br

    #interpretation
