doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/socket.io.js')
    script(src="/javascripts/helper.js")
    script(src="/javascripts/my.js")
  body
    block content
